[Unit]
Description=Storm UI Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/lib/storm/bin/storm ui
Restart=on-abort

[Install]
WantedBy=multi-user.target
